

figure {
    width: 75%;
    margin: 0 auto;
    
}

figure figcaption{
    text-align: center;
    font-weight: 600;
    color: #4e5f7c;
    
}
figure img{
    display: block;
    margin: 0 auto;
    
}
figure video{
    display: block;
    margin: 0 auto;
}

.container
{width:70%;}